<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="tests">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="build/logs/coverage/clover.xml"/>
        <log type="coverage-html" target="build/logs/coverage/html"/>
    </logging>
</phpunit>